.container{
  background-color:black;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  heightt: 650px;
}

.item{
  background-color:teal;
  color:yellow;
  font-size: 30px;
  padding: 10px;
  text-align: center;
  font-family: 'montserrat', sans-serif;
}

.potato1{
  grid-column-start: 1;
  grid-column-end: 3;
  background-color:green;
  height: 40px;
}

.potato6{
  grid-row-start:2;
  grid-row-end: 4;
  grid-column-start:3;
  grid-column-end:4;
  background-color:red;
  height: 50px;
}

.potato10{
  grid-row-start:3;
  grid-row-end: 4;
  grid-column-start:5;
  grid-column-end:5;
  background-color: blue;
  height: 40px;
}

.potato3{
  grid-column-start:2;
  grid-column-end:3;
  background-color: black;
  height: 50px;
}

.potato2{
  grid-row-start:1;
  grid-row-end: 3;
  grid-column-start:1;
  grid-column-end:3;
  background-color: blue;
  height: 40px
}

.potato9{
  grid-column-start:2;
  grid-column-end:3;
  background-color: yellow;
  height: 40px;
}
